<div class="container">
    <div class="row justify-content-end">
        <div class="col-auto">
            <a asp-controller="Dashboard" asp-action="Index">Inicio</a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none text-black" asp-controller="#" asp-action="#">Crear Nuevo Producto</a>
        </div>
    </div>
</div>

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Imagen</label>
        <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Precio</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Cantidad</label>
        <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>   
    <button type="submit" class="btn btn-primary" asp-controller="Productos" asp-action="CrearProducto">Crear Producto</button>
</form>