<div class="container">
    <div class="row justify-content-end">
        <div class="col-auto">
            <a  asp-controller="#" asp-action="#">Inicio</a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none text-black" asp-controller="#" asp-action="#">Gestion Usuario</a>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img src="https://i5.walmartimages.com.mx/gr/images/product-images/img_large/00750649500407L.jpg?odnHeight=&odnWidth=&odnBg=FFFFFF" alt="">
                <div class="card-body text-center">
                    <p><b>Nombre:</b> Atún</p>
                    <p><b>Precio:</b> $10.000</p>
                    <p><b>Cantidad:</b> 10</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <a type="button" class="btn btn-primary btn-lg w-25" asp-controller="Productos" asp-action="Index">Ver Lista Productos</a>
    </div>
</div>