<div class="container text-center mt-5">
    <h1>Bienvenido a mi Página Web</h1>
</div>

<div class="container h-75 text-center bg-warning-subtle">
    <a class="btn btn-info" asp-controller="Productos" asp-action="Index">Gestión de Productos</a>
    <a class="btn btn-info" asp-controller="Auth" asp-action="Index">Registrate</a>
    <a class="btn btn-info" asp-controller="User" asp-action="Index">Gestion de Usuarios</a>    
</div>