<div class="container">
    <div class="row justify-content-end">
        <div class="col-auto">
            <a  asp-controller="#" asp-action="#">Inicio</a>
        </div>
        <div class="col-auto">
            <a class="text-decoration-none text-black" asp-controller="#" asp-action="#">Gestion Usuario</a>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body d-flex justify-content-around">
                    <div class="izquierda ">
                        <p><b>Nombres:</b> Daniel</p>
                        <p><b>Apellido:</b> Zapata</p>
                        <p><b>Edad:</b> 20</p>
                    </div>
                    <div class="derecha">
                        <p><b>Correo:</b>dani@example.com</p>
                        <p><b>Genero:</b> M</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row justify-content-center">
        <a type="button" class="btn btn-primary btn-lg w-25" asp-controller="User" asp-action="Index">Ver Lista Usuarios</a>
    </div>
</div>